<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head" />

<body>

    <div class="container my-2">
        <h1 th:text="|Categorias do  usuario: ${usuario.nome}|"></h1>
        <br />
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th> Categoria</th>
                    <th> Lista de emails que ele receberá</th>

                </tr>
            </thead>
            <tbody th:each="categoria : ${ListaCategorias}">
                <tr>
                    <td th:text="${categoria.nome}"></td>
                    <td>
                        <table>

                            <tbody>
                                <tr th:each="lista:${categoria.listas}">
                                    <td th:text="${lista.nomeLista}">
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/usuarios}"> Voltar para Usuários</a>
    </div>

</body>

</html>