<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head" />
<body>
	<div class="container">
		<h1>Gerenciamento de Unidades</h1>
		<hr>
		<h2>Incluir unidade</h2>

		<form action="#" th:action="@{/incluirUnidade}" th:object="${unidade}"
			method="POST">
			<input type="text" th:field="*{nome}"
				placeholder="Nome da unidade ex: Campus de Cascavel/Núcleo Experimental de Engenharia Agrícola/Clinica de Odontologia e etc... " class="form-control mb-4 col-4">
			<input type="text" th:field="*{denominacaoAbreviadaInstitucional}"
				placeholder="Nome Abreviado Institucional ex: ccsc, CCET, ..., NEEA" class="form-control mb-4 col-4">
			<input type="text" th:field="*{cidade}"
				placeholder="Nome da cidade onde está localizada a unidade ex: Cascavel, Foz do Iguaçu e etc.." class="form-control mb-4 col-4">
				<button type="submit" class="btn btn-info col-2"> Incluir</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/unidades}"> Retorne para Lista de Unidades</a>
	</div>
</body>
</html>