<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gerenciamento de Emails</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Gerenciamento de Emails</h1>
		<hr>
		<h2 th:text="|Email para o usuário: ${email_.usuarioEmails.nome}|"></h2>

		<form action="#" th:action="@{/incluirEmail}" th:object="${email}" method="POST">

			<input type="hidden" th:field="${email_.usuarioEmails.id}" class="form-control mb-4 col-4">
			<input type="text" th:field="${email_.email}" placeholder="Email" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2"> Incluir</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/usuarios}"> Retorne para Lista de Emails</a>
	</div>
</body>
</html>