<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head" />
<body>
	<div class="container">
		<h1>Gerenciamento de Emails</h1>
		<hr>
		<h2 th:text="|Email para o usuário: ${email_.usuarioEmails.nome}|"></h2>

		<form action="#" th:action="@{/incluirEmail}" th:object="${email}" method="POST">

			<input type="hidden" th:field="${email_.usuarioEmails.id}" class="form-control mb-4 col-4">
			<input type="text" th:field="${email_.email}" placeholder="Email" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2"> Incluir</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/usuarios}"> Retorne para Lista de Emails</a>
	</div>
</body>
</html>