<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head" />

<body>
	<div class="container">
		<h1>Gerenciamento de Documentos</h1>
		<hr>
		<h2>Incluir documento</h2>

		<form action="#" th:action="@{/incluirDocumento}" th:object="${documento}" method="POST">
			<input type="text" th:field="*{extensao}" placeholder="Extensão do Documento"
				class="form-control mb-4 col-4">
			<input type="text" th:field="*{mimeType}" placeholder="MimeType do Documento"
				class="form-control mb-4 col-4">
			<input type="text" th:field="*{nome}" placeholder="Nome do Documento" class="form-control mb-4 col-4">
			<input type="text" th:field="*{conteudo}" placeholder="Conteúdo do Documento"
				class="form-control mb-4 col-4">
			<input type="text" th:field="*{dataInclusao}" placeholder="Data de Inclusão do Documento"
				class="form-control mb-4 col-4">
			<input type="text" th:field="*{usuario}" placeholder="Usuário que Incluiu o Documento"
				class="form-control mb-4 col-4">
			<input type="text" th:field="*{solicitacao}" placeholder="Solicitação que Incluiu o Documento"
				class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2"> Incluir</button>
		</form>

		<hr>

		<a th:href="@{/documentos}"> Retorne para Lista de Documentos</a>
	</div>
</body>

</html>