<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head" />
<body>
	<div class="container">
		<h1>Gerenciamento de Usuários</h1>
		<hr>
		<h2>Incluir Usuário</h2>

		<form action="#" th:action="@{/incluirUsuario}" th:object="${usuario}"
			method="POST">
			<input type="text" th:field="*{nome}"
				placeholder="Nome do usuário" class="form-control mb-4 col-4">
			<input type="text" th:field="*{senha}"
				placeholder="Senha do usuário" class="form-control mb-4 col-4">
			<input type="text" th:field="*{nomeCompleto}"
				placeholder="Nome dompleto do usuário" class="form-control mb-4 col-4">
			<input type="text" th:field="*{primeiroNome}"
				placeholder="Primeiro nome do usuário" class="form-control mb-4 col-4">
			<input type="text" th:field="*{lingua}"
				placeholder="Lingua do usuário" class="form-control mb-4 col-4">
			<input type="text" th:field="*{estaAtivo}"
				placeholder="Usuário está ativo?" class="form-control mb-4 col-4">
			<input type="text" th:field="*{excluidoLdap}"
				placeholder="Excluído do LDAP?" class="form-control mb-4 col-4">
			
				<!--TODO lembrar de atualizar 
				    ultimoLogin
				    ultimaAlteracaoCadastro
					cadastrar telefones
				    cadastrar localizações
					cadastrar grupos que o usuário está incluído
					cadastrar categorias que o usuário está incluído
					cadastrar perfil
				-->

				<button type="submit" class="btn btn-info col-2"> Incluir</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/usuarios}"> Retorne para Lista de Usuários</a>
	</div>
</body>
</html>