<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Gerenciamento de Categorias</title>

    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>


<body>
    
    <div class="container my-2"> 
        <h1 th:text="|Usuários da categoria: ${nome_categoria}|"></h1>
        <!-- TODO colocar abaixo do título o nome da categoria que todos os usuários percentes -->
        <!-- <h1 th:text="#{nome_categoria}"></h1> -->
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th> Nome</th>
                    <th> Nome Completo</th>
                    <th> Ativo?</th>
                    <th> Perfil</th>
                    <th> Último login</th>
                    <th> Última Alteração de Cadastro</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${ListaUsuarios}">
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.nomeCompleto}"></td>
                    <td th:text="${usuario.estaAtivo}? 'Ativo' : 'Inativo'"></td>
                    <td th:text="${usuario.perfil.nome}"></td>
                    <td th:text="${#temporals.format(usuario.ultimoLogin, 'dd-MM-yyyy   HH:mm:ss')}"></td>
                    <td th:text="${#temporals.format(usuario.ultimaAlteracaoCadastro, 'dd-MM-yyyy   HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href = "@{/categorias}"> Voltar para Categorias</a>    
    </div>


</body>

</html>