<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head" />


<body>
    
    <div class="container my-2"> 
        <h1 th:text="|Grupos do Usuário: ${usuario_nome}|"></h1>
        <br/>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th> Grupo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="grupo : ${ListaGrupos}">
                    <td th:text="${grupo.nome}"></td>
                </tbody>
            </table>
            <i class="fa fa-space-shuttle" aria-hidden="true"></i>
            <a th:href = "@{/usuarios}"> Voltar para Usuários</a>    
    </div>


</body>

</html>